---
- postgresql_db: name="{{ database_name }}"
                 owner="{{ deploy_user }}"
                 encoding='UTF-8'
                 lc_collate='en_US.UTF-8'
                 lc_ctype='en_US.UTF-8'
                 template='template0'
  tags:
  - database

